 <Config>
   <Plugins>
      <Lib Name="libs/libInterp4Move.so"/>
      <Lib Name="libs/libInterp4Pause.so"/>
      <Lib Name="libs/libInterp4Rotate.so"/>
      <Lib Name="libs/libInterp4Set.so"/>
   </Plugins>
   <Objects>
     <Cube Name="Samolot" Shift="0 0 0" SizeXYZ="1.5 0.7 0.5" RotXYZ="0 0 30" Trans_m="0 3 3" RGB="191 54 12"/>
     <Cube Name="Samolot.smiglo" Shift="0 0 0" SizeXYZ="0.05 0.05 0.05" RotXYZ="0 -90 0" Trans_m="0.8 0 0" RGB="173 18 18"/>
     <Cube Name="Samolot.smiglo.plat1" Shift="0 0 0" SizeXYZ="1 0.05 0.05" RotXYZ="0 0 0" Trans_m="0 0.05 0" RGB="3 155 229"/>
     <Cube Name="Samolot.smiglo.plat2" Shift="0 0 0" SizeXYZ="1 0.05 0.05" RotXYZ="-90 0 0" Trans_m="0 0.05 0" RGB="3 155 229"/>
     <Cube Name="Samolot.skrzydla" Shift="0 0 0" SizeXYZ="2 1 0.1" RotXYZ="0 -90 0" Trans_m="0 0 0" RGB="63 39 35"/>

     <Cube Name="Blok1" Shift="0 0 0" SizeXYZ="1 1 1" RotXYZ="0 0 0" Trans_m="0 0 0.5" RGB="229 57 53"/>
     <Cube Name="Blok2" Shift="0 0 0" SizeXYZ="0.5 0.5 2" RotXYZ="0 0 0" Trans_m="1 1 1" RGB="94 53 177"/>
     <Cube Name="Blok3" Shift="0 0 0" SizeXYZ="0.5 0.5 2" RotXYZ="0 0 0" Trans_m="2 2 1" RGB="67 160 71"/>
     <Cube Name="Blok4" Shift="0 0 0" SizeXYZ="0.5 0.5 2" RotXYZ="0 0 0" Trans_m="-1 -1 1" RGB="244 81 30"/>
     <Cube Name="Blok5" Shift="0 0 0" SizeXYZ="0.5 0.5 2" RotXYZ="0 0 0" Trans_m="-2 -2 1" RGB="3 155 229"/>
   </Objects>
  </Config>

